body,h1,h5 {font-family: "Raleway", sans-serif}
body {height: 100vh;
        width: 100vw;
        }

.bgimg {
  background-image: url("https://i.pinimg.com/564x/53/66/fc/5366fc9df5f09c581da4bf9143c32eb1.jpg");
  width: 100%;
  height: 100vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  
}