
.MuiBox-root.css-1wnsr1i{
    height: 800px;
    width: 1000px;
    background-image: url(../3.jpg);
 
       .content {
        position: fixed;
        bottom: 54px;
      
        
        background: rgba(0, 0, 0, 0.5);
        color: #f1f1f1;
        width: 600px;
        height: 200px;
       padding: 20px;
        
       
      }

      .css-hyum1k-MuiToolbar-root{
        background-color: #090204;
    }
      
      
    
}